Pillow>=10.3.0
numpy>=1.26.4
scipy>=1.13.0
opencv-python>=4.9.0.80
torch>=2.2.2
torchvision>=0.17.2
pandas>=2.2.1
scikit-learn>=1.4.1.post1
tensorflow>=2.16.1
scipy>=1.13.0
kaggle>=1.6.8
xgboost>=2.0.3
mpi4py>=3.1.5
dask>=2024.4.1
dask-mpi>=2022.4.0
distributed>=2024.4.1
dask[dataframe]>=2024.4.1
dask_ml>=2024.4.4
scikit-image>=0.22.0
